:root {
    --accent-dark: #17171c;
    --accent-light: #e5e5e5;


    --button-blue: #4b5efc;
    --button-gray: #4e505f;
    --button-dark: #2e2f38;
    --button-white: #ffffff;
}


.layout.light .container {
    background:  var(--accent-light);
    color: #000000;
}

.layout.light .switch {
    color: #000000;
}

.layout.light .result {
    background:  var(--accent-light);
    color: #000000;
}

.layout.light .history {
    background: var(--accent-light);
    color: #000000;
}

.layout.light .button {
    color: #000000;
    background: var(--button-white);
}

.layout.light .button-gray {
    background:  var(--button-gray);
}

.layout.light .button-blue {
    background:  var(--button-blue);
}

.layout.light .button:hover{
    background:   var(--button-blue);
    transition: all ease 0.25s;
}

.layout.light .button-gray:hover {
    background:   var(--button-blue);
    transition: all ease 0.25s;
}

.layout.light .button-blue:hover {
    background:  var(--button-gray);
    transition: all ease 0.25s;
}
